<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="databaseCustomerRepository" class="cf.mindaugas._03_spring_di_xml.repository.DatabaseCustomerRepository" />
    <bean name="inMemoryCustomerRepository" class="cf.mindaugas._03_spring_di_xml.repository.InMemoryCustomerRepository" />

    <!--&lt;!&ndash;Setter injection &ndash;&gt;-->
    <!--&lt;!&ndash;We describe this as: "wiring beans by name using setter injection" &ndash;&gt;-->
    <!--<bean name="customerService" class="cf.mindaugas._03_spring_di_xml.service.CustomerServiceImplementation">-->
    <!--    <property name="customerRepository" ref="databaseCustomerRepository"/>-->
    <!--    &lt;!&ndash;<property name="customerRepository" ref="inMemoryCustomerRepository"/>&ndash;&gt;-->
    <!--</bean>-->

    <!--Constructor injection-->
    <bean name="customerService" class="cf.mindaugas._03_spring_di_xml.service.CustomerServiceImplementation">
        <constructor-arg index="0" ref="databaseCustomerRepository"/>
        <!--<constructor-arg index="0" ref="inMemoryCustomerRepository"/>-->
    </bean>
</beans>
